

body {

    background: #dddddd;
    padding-top: 4px;
    font-family: "Helvetica";
}

.nav .dropdown a.dropdown-toggle {
    padding: 0.25em;
}

#hd {
    padding: 1em 1em 0 1em;
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
}

#hd .nav {
  margin-top: 4px;
}

#bd {
    border: 1px solid lightgray;
    background: white;
    padding: 1em;
}

#ft {
    background: #222222;
    padding: 1em;
    text-align: center;
    color: white;
    font-family: "Lucinda Grande",Arial;
    font-size: 12pt;
}

#sidebar {

    margin-top: 3em;
    background-color: #d3e3f5;
    padding: 1em;
    border: 1px solid lightblue;
    
}

#sidebar h3 {
    color: #343534;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
    margin-top: 1em;
    margin-bottom: 1em;
    
}

#newPost h3 {
    font-size: x-large;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
    margin-top: 1em;
    margin-bottom: 1em;
}

#charLeft {
    color: lightslategray;
    float: right;
    font-size: x-large;
    border: none;
}

#postContent {
    margin: 1em;
    font-size: large;
    width: 90%;    
}

dt {
    float: left;    
}

dd {
    text-align: right;
}


.postImage {
    margin: 0.5em;
    float: left;
}

.postEntry {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 3em;
    font-size: larger;
    border-top: 1px solid lightslategray;

}

.postText a {
    font-weight: bold;
    text-decoration: none;
}

.postDate {
    font-size: smaller;
}

.profilePic {
    padding: 0.5em;
    border: #e2aa00 solid 1px;
    background-color: #fff6e6;
    box-shadow: 0 0 0.25em 0 #c69500;
}

.profilePic img {
    width: 200px;
}

.friendsThumbnails img {
    margin: 4px;
}

.flash {
    border: 1px dotted black;
    color: black;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    background-color: #ffe957;
}

.errors {
    background: lightpink;
    border: 1px dotted red;
    color: black;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
}

